.main {
  background: #f8f8f8;
}

.title-contents {
  width: 100vw;
  background-image: image-url('exp.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.article-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.article-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.article-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.article-name {
  font-size: 2.5vh;
}

a {
  text-decoration: none;
  color:blue;
}

a:hover {
  color: #57C3E9;
}

.article-img {
  width: 33vh;
  height: 33vh;
}